body {
  background-color: #5EC8AE;
}


.Titulo {
  color: white;
}

.Lista {
  background-color: white;
  border: 5px solid pink;
  padding: 50px;
  width: fit-content;
}

.Especifico {
  color: pink;
  font-size: 15px;
}